<!DOCTYPE html>
<html lang="fr" dir="ltr" />

<head>
  <meta charset="utf-8" />
  <title>AngularJS - Bonus - Exercice 3</title>
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-route.js"></script>
  <script src="https://code.angularjs.org/1.7.7/angular-route.min.js"></script>
  <script src="assets/script/script.js"></script>
  <script src="assets/script/angular-locale_fr-fr.js"></script>
</head>

<body ng-app="mailBox">
  <div ng-controller="formController">
    <form name="form">
      <label for="name">Nom : </label>
      <input type="text" name="name" ng-model="name" placeholder="Dupont" ng-pattern="nameRegex" required />
      <p ng-show="form.name.$error.pattern">le nom doit commencer par une majuscule</p>
      <label for="email">Email : </label>
      <input type="email" name="email" ng-model="email" placeholder="exemple@mailfr" ng-pattern="mailRegex" required />
      <p ng-show="form.mail.$error.pattern">merci dentre une adresse valide</p>
      <label for="subjet">Sujet du mail : </label>
      <input type="text" name="subject" ng-model="subjet" placeholder="sujet" required />
      <p ng-show="form.subject.$error.minlength">merci d'entre au minimun 5 caractere</p>
      <label for="textArea">Message : </label>
      <textarea name="textArea" ng-model="textArea" rows="8" cols="80" required></textarea>
      <p ng-show="form.textArea.$error.minlength">meri dentre au minimun 5 caractere</p>
      <button ng-click="sendMessage()" type="submit" name="validate">Valider</button>
    </form>
    <ol>
      <li ng-repeat="message in subjectMessage"> sujet : {{ Message }}</li>

    </ol>

  </div>
</body>

</html>
